<p> Te han invitado a participar en la promoción: <br>
    <strong>{{ name_post }}</strong><br> de Dialsur
</p>
<p>Haz click <a href="{{ url_post }}">Aqui</a> para participar<br>
    <img src="{{ image_post }}" alt="" width="200">
</p>